{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% if post.published_date %}
            <p><b>{{post.author}}</b> | published: {{ post.published_date }}</p>
        {% else %}
            <p><b>{{post.author}}</b> | belum di publish</p>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
