h1 a, h2 a {
    color: rgb(28, 203, 42);
    font-family: 'Lobster';
}

h1 a {
    color:white;
}

.page-header {
    background-color: rgb(28, 203, 42);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.date {
    color: green;
}